
@import 'normalize';
@import 'themeFonts';
@import '~breakpoint-sass/stylesheets/breakpoint';
@import 'breakpoints';
@import 'themeColours';

$theme-font-regular: Raleway-Regular, verdana, sans-serif;
$theme-font-bold: Raleway-Bold, verdana, sans-serif;

$font-size-h1: 2.8em;
$font-size-h2: 2em;
$font-size-h3: 1.4em;
$font-size-h4: 1.2em;
$font-size-h5: 0.8em;
$font-size-p: 0.9em;
$font-size-desktop: 14px;
$font-size-desktop-lineHeight: 18px;

html {
    --slide-height: 0;
    --carousel-height: 0;
    --carousel-right-0: 0;
    --carousel-right-1: 0;
    --carousel-right-2: 0;
    --carousel-right-3: 0;
    --carousel-right-4: 0;
    --carousel-right-5: 0;
    --carousel-right-6: 0;
    --screen-width: 0;
    --display-form: block;
    --display-success: none;
    --display-error: none;
    scroll-behavior: smooth;
}

body {
    padding: 0px;
    font-family: $theme-font-regular;

    h1{
        font-size: $font-size-h1; 
        font-family: $theme-font-regular;
        font-weight: 400;
        color: $primary;
    }

    h2{
        font-size: $font-size-h2;
        font-family: $theme-font-regular;
        font-weight: 400;
        color: $primary;
    }

    h3{
        font-size: $font-size-h3;
        font-family: $theme-font-bold;
        font-weight: 700;
        color: $primary;
    }

    h4{
        font-size: $font-size-h4;
        font-family: $theme-font-regular;
        font-weight: 400;
        color: $primary;
    }

    h5{
        font-size: $font-size-h5;
        font-family: $theme-font-regular;
        font-weight: 400;
        color: $primary;
    }

    p{
        font-size: $font-size-p;
        font-family: $theme-font-regular;
        font-weight: 400;
        color: $septenary;
    }

    .rectangleImage {
        display: flex;
        align-items: center;
    }

    p, a {
        font-family: $theme-font-regular;
    }


//*************header*********************

.header {
    background:
    -moz-radial-gradient(#A3ADB7 14%, transparent 15%),
    -moz-radial-gradient(#A3ADB7 14%, transparent 15%),
    white;
    background:
    -webkit-radial-gradient(#A3ADB7 14%, transparent 15%),
    -webkit-radial-gradient(#A3ADB7 14%, transparent 15%),
    white;
    background-position: 0 0, 4px 4px;
    -webkit-background-size:8px 8px;
    background-size:8px 8px;
    background-repeat: repeat;
    height: auto;
    color: $primary;
    padding-top:150px;
    padding-bottom: 15px;
    @include breakpoint($xs-only){
        padding-top:0px;
        padding-bottom: 10px;
        background:
        -moz-radial-gradient(#B0B9C2 15%, transparent 16%),
        -moz-radial-gradient(#B0B9C2 15%, transparent 16%),
        white;
    background:
        -webkit-radial-gradient(#B0B9C2 15%, transparent 16%),
        -webkit-radial-gradient(#B0B9C2 15%, transparent 16%),
        white;
    background-position: 0 0, 5px 5px;
    
    -webkit-background-size:10px 10px;
    background-size:10px 10px;
    }

    .headerWrapper > div > picture > img {
        align-items:center;
        text-align: center;
        margin-left: 50px;
        width: 423px;
        height: auto;

        @include breakpoint($xs-only){
            margin-left: 40px;
            width: calc(90% - 30px);
            height: auto;
            margin-bottom: 5px;
        }
    }

    .mainMenu {
        margin-top: 20px;

        @include breakpoint($xs-only){
            margin-top: 0px;
        }

        a {
            font-size: 0.9em;
            text-decoration: none;
            color: $septenary;
            padding: 15px;
        }

        .active{
            color: $senary;
        }
    }

    .menuWrapper:first-child{
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .menuWrapper:last-child{
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .menuWrapper {
        display: inline-block;
        padding-top:15px;
        padding-bottom:15px;
        background: $tertiary;
        transition: all 1s linear;
    }

    .menuWrapper:hover {
        background: $quarternary;
        transition: all 1s linear;
    }

    .MuiButton-root{
        color: $primary;
    }  
    }

    .MuiList-root li a{
        color: $quarternary;
        font-family: $theme-font-regular;
        text-decoration: none;
    }

    .MuiList-root li a.active{
        color: $senary;
    }

    .MuiList-root li a:hover{
        text-decoration: underline;
    }

    .MuiButton-text {
        padding: 0px;
    }

//*************projects summary*********************

    .mobileProjectSummary{
        margin-top: 1px;

        a > picture > img {
            width: 100%;
            height: auto;
        }
    }

    .show-temp-image{
        display: block;
        margin-top:2px;
        width: 100%;
        height: auto;
    }

    #content-slider {
        width: 100%;
        margin: 2px auto 0;
    }

     //*************projects*********************

     .embla {
        position: relative;
        max-width: 600px;
        width: 100%;
        margin-left: auto;
        margin-right: auto; 
      }
      
      .embla__viewport {
        overflow: hidden;
        width: 100%;
      }
      
      .embla__viewport.is-draggable {
        cursor: move;
        cursor: grab;
      }
      
      .embla__viewport.is-dragging {
        cursor: grabbing;
      }
      
      .embla__container {
        display: flex;
        user-select: none;
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        -webkit-tap-highlight-color: transparent;
        margin-left: -10px;
      }
      
      .embla__slide {
        position: relative;
        min-width: 100%;
        padding-left: 10px;
      }
      
      .embla__slide__inner {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: auto;
      }
      
      .embla__slide__img {
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        width: 100%;
        min-height: 100%;
        min-width: 100%;
        max-width: none;
        transform: translate(-50%, -50%);
        height: auto;
      }
      
      .embla__button {
        outline: 0;
        cursor: pointer;
        background-color: transparent;
        touch-action: manipulation;
        position: absolute;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);
        border: 0;
        width: 30px;
        height: 30px;
        justify-content: center;
        align-items: center;
        fill: $secondary;
        padding: 0;
      }
      
      .embla__button:disabled {
        cursor: default;
        opacity: 0.3;
      }
      
      .embla__button__svg {
        width: 100%;
        height: 100%;
      }
      
      .embla__button--prev {
        left: 27px;
      }
      
      .embla__button--next {
        right: 27px;
      }

      .embla--thumb {
        padding-top: 0;
        margin-top: -12px;
      }
      
      .embla__container--thumb {
        cursor: default;
        margin-left: -8px;
      }
      
      .embla__slide--thumb {
        padding-left: 8px;
        min-width: 5%;
      }
      
      .embla__slide__inner--thumb {
        touch-action: manipulation;
        cursor: pointer;
        border: 0;
        outline: 0;
        margin: 0;
        padding: 0;
        height: 100px;
        width: 100%;
        background-color: transparent;
        position: relative;
        display: block;
        overflow: hidden;
      }
      
      .embla__slide__thumbnail {
        position: absolute;
        opacity: 0.2;
        top: 0;
        bottom: 0;
        left: -10000%;
        right: -10000%;
        margin: auto;
        min-width: 1000%;
        min-height: 1000%;
        max-width: none;
        transform: scale(0.1);
        transition: opacity 0.2s;
      }
      
      .embla__slide--thumb.is-selected .embla__slide__thumbnail {
        opacity: 1;
      }

      .embla__dots {
        display: flex;
        list-style: none;
        justify-content: center;
        padding-top: 10px;
      }
      
      .embla__dot {
        background-color: transparent;
        cursor: pointer;
        position: relative;
        padding: 0;
        outline: 0;
        border: 0;
        width: 20px;
        height: 60px;
        margin-right: 2.5px;
        margin-left: 2.5px;
        display: flex;
        align-items: center;
      }
      
      .embla__dot:after {
        background-color: $quarternary;
        width: 40%;
        height: 8px;
        border-radius: 4px;
        content: "";
      }
      
      .embla__dot.is-selected:after {
        background-color: $secondary;
        opacity: 1;
      }

     .introHeading {
         background-color: $secondary;
         padding: 0.2em 0.5em;
         color: $tertiary;
         width: fit-content;
     }

     p {
        span.startEmphasis {
            color: $senary;
        }

        .imageDiv{
            width: 300px;
            height: 300px;
            display: flex;
        }
    }

    .carousel .slide img {
        width: auto;
    }

    .carousel img {
        width: auto;
    }

    .carousel-root {
        width: 100%;
        display: grid;
    }

    .carousel .slide {
        background: $tertiary;
    }

    .carousel .thumb img{
        height: 100px;
    }

    .carousel .thumb{
        border: 0px solid;
        opacity: 0.5;
    }

    .carousel .thumb.selected, .carousel .thumb:hover{
        border: 0px solid;
        opacity: 1;
    }

    li.slide {
        opacity: 0.5;
    }

    li.slide.selected{
        opacity: 1;
    }

    #content-carousel{
        height: calc(var(--carousel-height) * 1px);
        width: 100%;
        margin: 0;
        position: relative;
        margin-bottom: 80px;

        @include breakpoint($xs-only){
            margin-bottom: 0px;
        }
    }

    

    #carousel{
        height: calc(var(--carousel-height) * 1px);
        overflow: visible;
        position: relative;
        background: transparent;   
        display: flex;
        overflow-x: auto; 
        overflow-y: hidden;  
        padding-bottom: 80px; 
        
        @include breakpoint($xs-only){
            padding-bottom: 0px;
        }
    }

    .image-list{
        display: flex;
    }

    #carousel-mask{
        height: fit-content;
        overflow-x: auto;
        position: absolute;
        width:100%;

        ul li a img{
            float: none;
            margin: 0 auto;
            height: calc(var(--carousel-height) * 1px); 
            width: auto;
        }
    }

    #carousel ul {
        margin: 0;
        padding: 0;
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        width: fit-content;
    }


    #carousel ul.Handmade-Carousel{
        transform: translateX(calc(var(--carousel-right-0) * -1px));
    }
    #carousel ul.Bertrand-Carousel{
        transform: translateX(calc(var(--carousel-right-1) * -1px));
    }
    #carousel ul.CityIdentity-Carousel{
        transform: translateX(calc(var(--carousel-right-2) * -1px));
    }
    #carousel ul.EPub-Carousel{
        transform: translateX(calc(var(--carousel-right-3) * -1px));
    }
    #carousel ul.CorporateWebsite-Carousel{
        transform: translateX(calc(var(--carousel-right-4) * -1px));
    }
    #carousel ul.SmallBusinessLogo-Carousel{
        transform: translateX(calc(var(--carousel-right-5) * -1px));
    }
    #carousel ul.Clients-Carousel{
        transform: translateX(calc(var(--carousel-right-6) * -1px));
        padding-bottom: 80px;
    }

    #Clients-Carousel li a{
        width: 780px;

        @include breakpoint($xs-only){
            width: auto;
        }
    }

    #Clients-Carousel li span, 
    #Clients-Carousel li p{
        @include breakpoint($xs-only){
            display: none;
        }
    }

    #carousel ul::-webkit-scrollbar {display: none;}
    #carousel-mask::-webkit-scrollbar {display: none;}
    #carousel-mask {scrollbar-width: none;}

    #carousel li{
        width: auto;
        position: relative;
        list-style: none;
    } 

    #carousel li a.projectHandmade-active, 
    #carousel li a.projectBertrand-active,
    #carousel li a.projectCityIdentity-active,
    #carousel li a.projectEPub-active,
    #carousel li a.projectCorporateWebsite-active,
    #carousel li a.projectSmallBusinessLogo-active,
    #carousel li a.previousClientsSites-active
    {
        opacity: 1;
        transition: opacity 0.5s;
    }

    #carousel li a:hover{
        opacity: 1;
        transition: opacity 0.5s;
    }

    #carousel li a{
        display: flex;
        opacity: 0.5;
        transition: opacity 0.5s;
        text-align:center;
        flex-direction: column;
    }

    #carousel li a.clientsLink {
        display: inline;
    }

    #carousel li p{
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .hide-clients-images{
        display: none;
    }
    .show-clients-images{
        display: flex;
    }

    .clientsLink{
        display: inline;
        color: $primary;
        font-family: $theme-font-bold;
        font-weight: 700;
        font-size: 1.2em;
        opacity: 1;
        overflow-wrap: break-word;
        word-wrap: break-word;
        -ms-word-break: break-all;
        word-break: break-all;
        word-break: break-word;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;

        @include breakpoint($xs-only){
            font-size: 1.3em;
        }
    }

    .expand-to-right-li{
        animation-name: expandToRightLi;
        animation-duration: 3s;
    }

    @keyframes expandToRightLi{
        0%{width: 0%;}
        50%{width: 50%;}
        100%{width: 100%;}
    }

    li.detract-to-left-li {
        animation-name: detractToLeftLi;
        animation-duration: 2s;
    }

    @keyframes detractToLeftLi{
        0%{width: 100%;}
        50%{width: 50%;}
        100%{width: 0%;}
    }

    .introStyling{
        margin: 20px 0px 40px 0px;

        @include breakpoint($xs-only){
            margin: 0px;
        }
    }
    //*************clients*********************  
    
    .profileImage{
        height: 211px;
        width: 211px;
        border-radius: 113px;
        margin-top: 50px;
        margin-left: 50px;
    }

    //*************sales*********************



    ol.nested-counter-list {
        counter-reset: item;
        padding-left: 0px;
      }
      
      ol.nested-counter-list li {
        display: block;
        font-size: 1em;
        line-height: $font-size-desktop-lineHeight;
        margin-bottom: 4px;
        color: $nonary;
      }
      
      ol.nested-counter-list li::before {
        content: counters(item, ".") ". ";
        counter-increment: item;
      }
      
      ol.nested-counter-list ol {
        counter-reset: item;
      }
      
      ol.nested-counter-list ol>li {
        display: block;
        font-size: 1em;
        margin-bottom: 4px;
        line-height: $font-size-desktop-lineHeight;
        color: $nonary;
      }
      
      ol.nested-counter-list ol>li::before {
        content: counters(item, ".") " ";
        counter-increment: item;
      }

      .salesIntro{
          background: $nonary;

          h1, h2, h3, li, p{
              color: $tertiary;
          }
      }

      .salesImage{
          height: 217px;
          width: 582px;

          @include breakpoint($xs-only){
              width: 205px;
              height: 150px;
          }
      }

      .salesHeader{
          margin-top: 40px;

          @include breakpoint($xs-only){
              margin-top: 0px;
          }
      }

      picture{
          display: block;
      }

    //*************blog*********************

    .blogTitle{
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

    h3.blogTitle{
        font-size: 1.2em;
    }
    h4.blogDate{
        font-size: 1em;
        color: $nonary;
        margin-left: 8px;
        font-family: $theme-font-bold; 
    }

    .blogImage{
        width: 100%;
        height: auto;
    }

    //*************footer*********************

    .Footer{
        margin-top: 40px;
        background: $quinary;

        .formDisplay{
            display: var(--display-form);
        }

        .successDisplay{
            display: var(--display-success);
            background: white;
            padding: 20px;
            border-radius: 10px;
        }

        .errorDisplay{
            display: var(--display-error);
            background: white;
            padding: 20px;
            border-radius: 10px;
        }

        .copyright{
            text-align: center;
            align-items: center;
            margin: 10px 0px;
            color: $nonary;
        }

        a{
            font-size: 1.3em;
            color: $nonary;
            margin-left: 8px;
        }

        .socialIcons{
            display: flex;
            padding-left: 0px;
            margin-left: 0px;
            margin-top: 5px;
            margin-bottom: 5px;

            li{
                list-style-type: none;

                a{
                    display: block;
                }
            }
        }

        .socialImage{
            height: 48px;
            width: auto;
        }

        h2, h3{
            color: $nonary;
            margin-left: 8px;
        }

        .blogSummary{
            @include breakpoint($xs-only){
                h2, h3, h4, h5, a{
                    margin-left: 0px;
                }
            }
        }

        h4, p{
            margin-top: 1em;
        }

        h5{
            color: $nonary;
            font-family: $theme-font-bold;
            margin-top: 0.3em;
        }

        a{
            text-decoration: none;
        }

        .MuiFilledInput-root{
            background-color: white;
            border-radius: 4px;
        }

        .MuiFilledInput-underline:hover:before{
            border-bottom: 0px solid white;
        }

        .MuiFilledInput-underline:before{
            border-bottom: 0px solid white;
        }

        .MuiFilledInput-underline:after{
            border-bottom: 0px solid white;
        }

        form{
            width: 100%;
            margin-bottom: 20px;
        }

        .SubmitButton{
            background: $senary;
            color: $tertiary;
            padding: 8px;
            border-radius: 0px;
        }

        .MuiButton-label{
            font-family: $theme-font-bold;
            text-transform: capitalize;
            font-size: 1.1em;
        }
        

        .MuiFormLabel-root{
            color: $senary;
        }
    }
}