$xs: 0px;
$sm: 600px;
$md: 960px;
$lg: 1280px;
$xl: 1920px;

$xs-only: 0px 600px;
$sm-only: 601px 960px;
$md-only: 961px 1280px;
$lg-only: 1281px 1920px; 

$xs-min: min-width 0px;
$sm-min: min-width 600px;
$md-min: min-width 960px;
$lg-min: min-width 1280px;
$xl-min: min-width 1920px;

$sm-max: max-width 600px;
$md-max: max-width 960px;
$lg-max: max-width 1280px;
$xl-max: max-width 1920px;