@font-face {
    font-family: "Raleway-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/raleway-regular-webfont.woff2") format("woff2"),
         url("../fonts/raleway-regular-webfont.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Raleway-Bold";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/raleway-bold-webfont.woff2") format("woff2"),
         url("../fonts/raleway-bold-webfont.woff") format("woff");
    font-display: swap;
}